{% assign talks = site.data.data.talks %}
{% if talks %}
<section class="section talks-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ talks.title }}
  </h2>

  {% if talks.intro %}
  <div class="intro">
    {{ talks.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for venue in talks.venues %}
  <div class="item">
    {% if venue.link %}
      <li><a href="{{ venue.link }}">{{ venue.title }}</a></li>
    {% else %}
      <li>{{ venue.title }}</li>
    {% endif %}
 
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
